@charset "UTF-8";

.container > .d-flex > a {
	margin-right:15px;
}

.login_ul > li > a {
	color:#fff; 
	background-color:#198754; 
	border-color:#198754;
	margin-right:15px;
}

.join_ul > li > a {
	color:#198754;
	border-color:#198754;
}