@charset "UTF-8";

.mod_container {
	padding: 80px;
}

.clear {
	overflow: hidden;
}

.bodytext_area {
	box-sizing: border-box;
	padding: 0px;
}

.box_inner {
	width: 100%; margin: 0 auto;
}

/* 게시판 글쓰기 폼 */
.appForm {
	margin:20px auto;
	text-align: left;
}
.appForm > legend {
	font-size: 0px;
}
.pilsoo_item::before {
	/* top:1px; */
	content: '*';
	display: inline-block;
	position: absolute;
	left: 5px;
	width: 15px;
	font-weight: bold;
	font-size: 17px;
	color: red;
}
.info_pilsoo {
	position: relative;
	padding-left: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #000;
	font-size: 15px;
	color: red;
}
.app_list {
	border-top:2px solid #384d75;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.app_list > li {
	position: relative;
	padding: 10px 0;
	/* border-bottom: 1px solid #ccc; */
}
.app_list > li > .tit_lbl {
	float: none;
	line-height: 50px;
	position: relative;
	box-sizing: border-box;
	padding-left: 20px;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: -2px;
}
.app_content {
	float: none;
	width: auto;
	border: 1px solid #ccc;
	margin-left: 1px;
}
.app_content > input {
	border: none;
	/* width: 100% !important; */
	width: inherit; /* 브라우저 설정 상속.= 넓이 초기화 */
	box-sizing: border-box;
	display: inline-block;
	height: 45px;
	padding: 0 10px;
	/* background-color: #fff; 이클립스에서 영향을 주기 때문에 주석처리*/
	line-height: normal;
	font-size: 15px;
}
.appForm > textarea {
	height: 130px;
	box-sizing: border-box;
	padding: 10px;
	font-size: 15px;
	letter-spacing: -1px;
	color: #444;
	border: none;
}
.appForm > textarea::placeholder {
	color: #999;
}
textarea:-ms-input-placeholder {
	color: #999;
}
input:-ms-input-placeholder {
	color: #999;
}
.btn_baseColor {
	margin-top: 10px;
}

.btn_bbs {
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
	height: 35px;
	font-size: 14px;
	line-height: 35px;
	background: #198754;
	color: #fff !important;
	text-align: center;
}

#delete_btn {
	background: #dc3545;
}

#cancel_btn {
	background: #6c757d;
}

@media all and (min-width: 801px) {
/* 태블릿+PC용 */
.app_list > .tit_lbl {
	width: 20%;
}
.app_list > .app_content {
	width: 79%;
	float:right;
	border: 1px solid #ccc;
}
.btn_line {
	text-align: right;
	}
.appForm > textarea {height: 230px;}

.btn_bbs {
		width: 70px;
		float: none;
		text-align: center;
	}

}
