@charset "UTF-8";

/* 로그인 실패 시 경고글 */
.login_warn {
	margin-top : 30px;
	margin-bottom : 20px;
	text-align : center;
	color : red;
}

/* 로그인 영역 설정 */
.login_container > .col-lg-4 {
	left:50%;
	position:absolute;
	transform:translateX(-50%);
	padding-top:140px;
}

/* 아이디 영역과 비밀번호 영역 아래 공간 */
.form-floating {
	padding-bottom:20px;
}